Sources/ProseCoreViews/Generated/** linguist-generated=true
Sources/ProseCoreViews/Resources/Views/** linguist-generated=true
Sources/Assets/Generated/** linguist-generated=true
Sources/AppLocalization/Generated/** linguist-generated=true
Sources/PreviewAssets/Generated/** linguist-generated=true
