Prose/ProseLib/Sources/ProseCoreViews/Generated/** linguist-generated=true
Prose/ProseLib/Sources/ProseCoreViews/Resources/Views/** linguist-generated=true
Prose/ProseLib/Sources/Assets/Generated/** linguist-generated=true
Prose/ProseLib/Sources/AppLocalization/Generated/** linguist-generated=true
Prose/ProseLib/Sources/PreviewAssets/Generated/** linguist-generated=true
