--indent 4
--self insert
--disable enumNamespaces
--enable isEmpty,blockComments
--ranges no-space
--decimalgrouping 3,5
--wraparguments before-first
--wrapcollections before-first
--maxwidth 100
--header \nThis file is part of prose-app-macos.\nCopyright (c) 2022 Prose Foundation\n