<!DOCTYPE html><html><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Messaging</title><style>#app{visibility:hidden}</style><link rel="stylesheet" href="messaging.9f1b33bb.css"><script src="messaging.d4843923.js" defer></script></head><body id="app" v-scope="App()" @vue:mounted="mounted" @vue:unmounted="unmounted" :class="[
      'app--' + $context.style.theme,
      {
        'app--visible': isReady
      }
    ]">  <div class="loader loader--backwards" v-scope="Loader()" v-if="$store.feed.loaders.backwards"></div> <div class="entry" v-for="entry in $store.feed.entries" v-scope="Entry(entry)" v-once="" :key="dayChangeCount + '/' + $context.i18n.code + '/' + entry.id + '@' + (entry.updatedAt || 0)"> <div class="message" v-if="message" v-scope="Message(message)" :data-entry-id="entry.id"> <span class="avatar message-avatar" v-if="user" v-scope="Avatar(user)" @vue:mounted="mounted"> <span v-if="avatarUrl" :style="{
              backgroundImage: ('url(\'' + avatarUrl + '\')')
            }" class="avatar-image"></span> <span v-else="" :style="{ backgroundColor: defaultPalette }" class="avatar-image avatar-image--placeholder"> <span v-if="defaultInitials" class="avatar-initials"> {{ defaultInitials }} </span> </span> </span> <div class="message-inner" @vue:mounted="mounted"> <div v-if="user" class="message-origin"> <span class="message-origin-name">{{ user.name || user.jid }}</span> <span v-if="date" class="message-origin-date">{{ date }}</span> <span v-if="attributes && attributes.length > 0" class="message-origin-attributes"> <span v-for="attribute in attributes" :title="$context.i18n._.attributes[attribute] || ''" :class="[
                  'message-origin-attribute',
                  'message-origin-attribute--' + attribute
                ]"></span> </span> </div> <div class="message-content"> <p v-for="line in content" :key="line.id" :data-line-id="line.id" :id="'message-' + line.id" :class="[
                'message-content-line',
                {
                  'message-content-line--highlighted': (line.properties && line.properties.highlighted)
                }
              ]"> <span v-if="line.type === 'text'" v-scope="MessageLineText(line)" @vue:mounted="mounted" class="message-text"></span> <span v-else-if="line.type === 'file'" v-scope="MessageLineFile(line)" @vue:mounted="mounted" class="message-file"></span> <span v-else="" class="message-other">(?)</span> <span v-if="line.reactions" class="message-reactions"> <span v-for="reactionData in line.reactions" @click="onReactionClick(line.id, reactionData.reaction, reactionData.authors)" :key="'reaction/' + reactionData.reaction" :class="[
                    'message-reaction',
                    {
                      'message-reaction--active': ($context.account.jid && reactionData.authors.includes($context.account.jid))
                    }
                  ]"> <span class="message-reaction-image"> {{ reactionData.reaction }} </span> <span class="message-reaction-count"> {{ (reactionData.authors.length || 0) }} </span> </span> </span> <span :class="[
                  'message-actions',
                  {
                    'message-actions--locked': line.locks
                  }
                ]"> <span @click="onActionReactionsClick($event, line.id)" :title="$context.i18n._.actions.reactions" :class="[
                    'message-action',
                    'message-action--reactions',
                    {
                      'message-action--active': (line.locks && line.locks.reactions === true)
                    }
                  ]"></span> <span @click="onActionMoreClick($event, line.id)" :title="$context.i18n._.actions.more" :class="[
                    'message-action',
                    'message-action--more',
                    {
                      'message-action--active': (line.locks && line.locks.actions === true)
                    }
                  ]"></span> </span> </p> </div> </div> </div> <div class="separator" v-else-if="separator" v-scope="Separator(separator)"> <span class="separator-label">{{ label }}</span> </div> </div> <div class="loader loader--forwards" v-scope="Loader()" v-if="$store.feed.loaders.forwards"></div>  <template id="template-message-line-text"> <span v-if="html" v-html="html" class="message-text-inner"></span> <span v-if="edited" class="message-text-flag"> ({{ $context.i18n._.attributes.edited }}) </span> </template> <template id="template-message-line-file"> <span :class="[
          'message-file-inner',
          {
            'message-file-inner--expanded': isExpanded
          }
        ]"> <span class="message-file-expander" @click="onExpanderClick"> {{ file.name }} </span> <a v-if="presentation === 'image'" :href="file.url" class="message-file-image" target="_blank" rel="noopener"> <span v-if="imageSize" :style="{
              backgroundImage: ('url(\'' + file.url + '\')'),
              width: (imageSize.width ? (imageSize.width + 'px') : null),
              height: (imageSize.height ? (imageSize.height + 'px') : null)
            }" class="message-file-thumbnail"></span> </a> <ul v-else-if="presentation === 'other'" class="message-file-other"> <li> <a :href="file.url" :download="file.name || file.url" rel="noopener" class="message-file-other-option message-file-other-option--get"></a> </li> </ul> </span> </template> </body></html>